div.a {
  text-align: center;
}
div.b {
text-align: left;
border-top: 2px solid #B33951;
border-bottom: 2px solid #B33951;
margin-left: 5%;
margin-right: 5%;
}
body {
  background: #C2BBF0;
}
  h1 {
    color: #B33951;
    font-family: verdana;
    
  }
  h5 {
    color: #091540;
    font-family: verdana;
  }
  h4 {
    color: #091540;
    font-family: verdana;
  }
  h3 {
    border: 2px solid powderblue;
    padding: 5px;
    color: #A8577E;
    border-style: dotted;
  }